<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 이름을 굳이 길게 지을필요없음. 그냥 구분용으로 패키지처럼 지음 -->
<mapper namespace="taejunMappers">
<!--## 멤버 ##-->
	<insert id="insert_Member">
		INSERT INTO ${junMember} (${junId}, ${junPwd}, ${junEmail}) VALUES (#{mid},#{pwd},#{email})
	</insert>
	
	<select id="login_Member" resultType="Member">
		SELECT * FROM ${junMember} where ${junId} = #{mid} AND ${junPwd} = #{pwd}
	</select>
	
	<select id="idCheck_Member" resultType="Member">
		SELECT * FROM ${junMember} where ${junId} = #{mid}
	</select>
	
	<select id="selectAll_Member" resultType="Member">
		SELECT * FROM ${junMember} ORDER BY ${junId} DESC
	</select>
	
	<select id="searchId_Member" resultType="Member">
		SELECT * FROM ${junMember} WHERE ${junEmail} = #{email}
	</select>
	
	<select id="searchPw_Member" resultType="Member">
		SELECT * FROM ${junMember} WHERE ${junId} = #{mid} AND ${junEmail} = #{email}
	</select>
	
	<update id="update_Member">
		UPDATE ${junMember} SET ${junEmail} = #{email}, ${junPwd} = #{pwd} WHERE ${junId} = #{mid}
	</update>
	
	<delete id="delete_Member">
		DELETE FROM ${junMember} WHERE ${junId} = #{mid} AND ${junPwd} = #{pwd} AND ${junEmail} = #{email}
	</delete>
	
	
	
	
	
	
	
<!--## 댓글 ##-->
    <select id="selectAll_Reply" resultType="Reply">
    SELECT * FROM jun_reply ORDER BY rno DESC
    </select>
    
    <delete id="delete_Reply">
    	DELETE FROM jun_reply WHERE rno = #{rno}
    </delete>
    
    
    
    
    
    
    
<!--## 게시판 ##-->
    <select id="selectAll_Board" resultType="Board"> 
    	SELECT * FROM ${junBoard} ORDER BY ${junBno} DESC
    </select>
    
    <insert id="insert_Board">
    	INSERT INTO ${junBoard} (${junTitle}, ${junContent}, ${junUserid}, ${junRegdate}, ${junBfile}) 
    	VALUES(#{title}, #{content}, #{userid}, sysdate, #{bfile})
    </insert>
    
    <update id="update_Board">
    	UPDATE ${junBoard} SET ${junTitle} = #{title} , 
    	${junContent} = #{content} WHERE ${junBno} = #{bno}
    </update>
    
    <delete id="delete_Board">
    	DELETE FROM ${junBoard} WHERE ${junBno} = #{bno}
    </delete>
    
    <select id="selectByBno_Board" resultType="Board">
    	SELECT * FROM ${junBoard} WHERE ${junBno} = #{bno}
    </select>
    
    <select id="selectByUserid_Board" resultType="Board">
    	SELECT * FROM ${junBoard} WHERE ${junUserid} LIKE #{userid} ORDER BY ${junBno} DESC
    </select>
    
    <select id="selectByTitle_Board" resultType="Board">
    	SELECT * FROM ${junBoard} WHERE ${junTitle} LIKE #{title} ORDER BY ${junBno} DESC
    </select>
    
    <select id="selectByTitleAndContent_Board" resultType="Board">
    	SELECT * FROM ${junBoard} WHERE ${junTitle} LIKE #{title} OR ${junContent} LIKE #{content} ORDER BY ${junBno} DESC
    </select>
    
    
    <!-- Dynamic SQL -->
    <!-- MyBatis가 가지고 있는 특징 : 조건에 따라서 SQL 문장을 동적으로 만들어주는 기능 -->
    <select id="search_Board" resultType="Board">
    	SELECT * FROM ${junBoard}
    	WHERE
    	<if test="searchType==1"> ${junUserid} LIKE #{searchWord} </if>
    	<if test="searchType==2"> ${junTitle} LIKE #{searchWord} </if>
    	<if test="searchType==3"> ${junTitle} LIKE #{searchWord} OR ${junContent} LIKE #{searchWord} </if>
    	ORDER BY ${junBno} DESC
    </select>
    
    <select id="search2_Board" resultType="Board">
    	SELECT * FROM ${junBoard}
    	WHERE
    	<choose>
    		<when test="searchType==1"> ${junUserid} LIKE #{searchWord} </when>
    		<when test="searchType==2"> ${junTitle} LIKE #{searchWord} </when>
    		<when test="searchType==3"> ${junTitle} LIKE #{searchWord} OR ${junContent} LIKE #{searchWord} </when>
    	</choose>
    	ORDER BY ${junBno} DESC
    </select>
    
    
    <!-- 페이지 처리를 위한 SQL 문장들 -->
    <!-- Board 테이블의 전체 데이터 갯수 -->
    <select id="totalCount_Board" resultType="Integer">
    	select count (${junBno}) cnt from ${junBoard}
    </select>
    
    <!-- 한 페이지에 보여줄 게시글만 검색 -->
    <select id="selectPage_Board" resultType="Board">
	    select b.bno, b.title, b.content, b.userid, b.regdate, b.REPLYCNT, b.BFILE 
	    from (
	        select rownum rn, a.*
	        from (
	            select * from ${junBoard} order by ${junBno} desc
	        ) a
	    ) b
	    where rn between #{start} and #{end}
    </select>
    
    <!-- 씨발!! 리절트타입 원이다 -->
    <select id="searchWord_Board" resultType="Board">
    	select b.bno, b.title, b.content, b.userid, b.regdate
		from ( 
		select rownum rn , a.*from ( 
		SELECT * FROM ${junBoard} WHERE ${junUserid} LIKE #{searchWord} ORDER BY ${junBno} DESC ) a ) b
		where rn between #{start} and #{end}
    </select>
    
    <!-- 씨빠라라 -->
    <select id="searchCount_Board" resultType="Integer">
    	select count (${junBno}) tle from ${junBoard} where ${junUserid} like #{searchWord}
    </select>
    
    <!-- 2222222222 -->
    <select id="searchWord2_Board" resultType="Board">
    	select b.bno, b.title, b.content, b.userid, b.regdate
		from ( 
		select rownum rn , a.*from ( 
		SELECT * FROM ${junBoard} WHERE ${junTitle} LIKE #{searchWord} ORDER BY ${junBno} DESC ) a ) b
		where rn between #{start} and #{end}
    </select>
    
    <!-- 2222222222 -->
    <select id="searchCount2_Board" resultType="Integer">
    	select count (${junBno}) tle from ${junBoard} where ${junTitle} like #{searchWord}   
    </select>
    
    <!-- 3333333333 -->
    <select id="searchWord3_Board" resultType="Board">
    	select b.bno, b.title, b.content, b.userid, b.regdate
		from ( 
		select rownum rn , a.*from ( 
		SELECT * FROM ${junBoard} 
		
		WHERE ${junTitle} LIKE #{searchWord} or ${junContent} LIKE #{searchWord} 
		
		ORDER BY ${junBno} DESC ) a ) b
		where rn between #{start} and #{end}
    </select>
    
    <!-- 33333333333 -->
    <select id="searchCount3_Board" resultType="Integer">
    	select count (${junBno}) tle from ${junBoard} where ${junTitle} like #{searchWord} or ${junContent} like #{searchWoard}  
    </select>
    
    
    
    
    <!-- 파일 관련 -->
    <select id="selectFiles" resultType="Files">
    	select * from ${junFiles} WHERE ${junBno} = #{bno} order by ${junBfile}
    </select>
    
    
</mapper>
