<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<!-- QA Board (TaeJun) -->
		<property name="junBoard" value="JUN_BOARD"/>
		<property name="junBno" value="bno"/>
		<property name="junTitle" value="title"/>
		<property name="junContent" value="content"/>
		<property name="junUserid" value="userid"/>
		<property name="junRegdate" value="regdate"/>
		<property name="junReplycnt" value="replycnt"/>
		<property name="junBfile" value="bfile"/>
		<property name="junMember" value="JUN_MEMBER"/>
		<property name="junId" value="mid"/>
		<property name="junPwd" value="passwd"/>
		<property name="junEmail" value="email"/>
		<property name="junFiles" value="JUN_BFILE"/>
		<!-- 블라블라 -->
		
		<!-- asd -->
		<property name="tblBoard" value="tbl_board" />
		<property name="colBno" value="bno" />
		<property name="colTitle" value="title" />
		<property name="colContent" value="content"/>
		<property name="colUserid" value="userid"/>
		<property name="colRegdate" value="regdate"/>
		<property name="tblMember" value="tbl_member" />
		<property name="colUserid" value="userid" />
		<property name="colPassword" value="password" />
		<property name="colEmail" value="email" />
		
	</properties>
	
	<typeAliases>
		<package name="edu.spring.ex02.domain"/>
	</typeAliases>
	
</configuration>